<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/"> 
<div>
<a href="/admin/contributorManagement">Contributor Management</a></br>
<a href="/admin/category">Category</a></br>

    
</div> 
<script src="/js/"></script>