<nav>
    <% if(!currentUser){ %>
        <li>
            <a class="nav-link" href="/user/register">
                <button>Register</button>
            </a>
        </li>
        <li>
            <a href="/user/login">
                <button type="button">Login</button>
            </a>
        </li>
        <% } else { %>
            <li>
                <a href="/contribution/create">
                    <button>Contribute</button>
                </a>
            </li>
            <li>
                <a href="/user/logout">
                    <button>Logout</button>
                </a>
            </li>
            <li>
                <a href="/user/profile">
                    <button>Profile</button>
                </a>
            </li>
        <% } %>
        <li>
            <a href="/contributions">
                <butto>Contributions</button>
            </a>
        </li>
</nav>