:root {
    --body-font-family: 'Roboto', sans-serif;
    --accent-color: #7166F0;
    --background-color: #F8F7FD;
    --grey: #9F9EA3;
    --dark-purple: #080925;
}

ul > li > a > button {
    font-weight: 300;
}

body {
    font-family: var(--body-font-family);
    background-color: var(--background-color);
    font-weight: 300;
}

/* button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
} */

input {
    padding-left: 10px;
}

.text-primary {
    padding: 0;
    margin: 0;
    margin-bottom: 2px;
}


.btn-dark{
    background-color: var(--accent-color) !important;
    color: white;
    border: none;
}

.btn-dark:hover{
    background-color: #5053aa!important;
}

nav {
    margin-top: 0.5rem;
    font-weight: 400;
}

.navbar-brand {
    padding-left: 0.8rem;
}


.nav-item > a > button {
    font-size: 1rem;
    letter-spacing: 0.02em;
}

.container-fluid {
    margin-bottom: 50px;
}

@media screen and (min-width: 600px) {

    .container-fluid {
        width: 70%;
        margin-bottom: 50px;
    }
    .container {
        width: 70%;
    }
    .nav-item {
        padding-top: 0.2rem;
        margin-left: 4rem;
        letter-spacing: 0.04em;
    }

    .navbar-brand {
        padding-left: 0;
    }
    
}

.navbar-toggler {
    border: none;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    outline: 0;
}

.ri-menu-2-fill {
    color: black;
    padding-right: 0.2rem;
}

/* .nav-flex {
    display: flex;
    justify-content: space-between;
} */

.nav-item {
    display: flex;
    justify-content: center;
}

.products-heading {
    color: var(--accent-color);
    font-weight: 300;
    padding-left: 1rem;
}


.filter-search {
    width: 100%;
    /* height: 100px; */
    border-radius: 5px;
    background-color: white;
    margin: 2rem auto;
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}



@media screen and (min-width: 1140px) {
    .product-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 8vw;
        width: 70%;
    }
}

.product-img > img {
    aspect-ratio: 1/1;
    border-radius: 15px;
    background-color: white;
    /* min-height: 250px; */
    max-height: 100%;
    min-width: 250px;
    max-width: 100%;

    object-fit: cover;
}

.card {
    /* background: rgba(251, 250, 255, 1); */
    /* color: white; */
    /* padding: 1rem; */
    /* height: 4rem; */
    border: none;
    color: black;
    margin-bottom: 2rem;
  }
  .card > img {
    border-radius: 5px 5px 0px 0px;
    /* border-radius: 5px; */
    aspect-ratio: 5/3;
    object-fit: cover;
  }
  
  .products {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }


.price-time {
    font-size: 4rem;
}


.blog-author > img {
    aspect-ratio: 1/1;
    object-fit: cover;
    height: 8%;
    width: 8%;
    border-radius: 100%;
    margin-right: 0.5rem;
}

.card-title {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.description {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}



/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}