<% layout('layouts/boilerplate') %>
<div>
    <div>Login</div>
    <form id="form" action="<%= action %>" method="POST">
        <div id="error"></div>
        <div>
            <label for="email">Email</label>
            <div>
                <input name="email" type="email" id="email" />
            </div>
        </div>
        <div>
            <label for="password">Password</label>
            <input name="password" type="password" id="password" />
        </div>
        <div>
            <button type="submit">Submit</button>
          </div>
    </form>
</div>
