<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/"> 


<div class="container">
    <div class="mt-2 mb-2 display-3">Sign up</div>
    <form id="form" action="<%= action %>" method="POST" enctype="multipart/form-data">
        <div id="error"></div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label d-flex-col" for="">First Name</label>
            <div>
                <input name="firstName" type="text" class="form-control-plaintext border rounded" id="firstName" />
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="">Last Name</label>
            <div>
                <input name="lastName" type="text" class="form-control-plaintext border rounded" id="lastName" />
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="">Email</label>
            <div>
                <input name="email" type="email" class="form-control-plaintext border rounded" id="email" />
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="">Designation</label>
            <div>
                <input name="designation" type="text" class="form-control-plaintext border rounded" id="designation" />
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="">Phone</label>
            <div>
                <input name="phoneNumber" type="text" class="form-control-plaintext border rounded" id="phoneNumber" />
            </div>
        </div>
        <div class="">
            <label class="col-sm-2 col-form-label" for="">Password</label>
            <input name="password" type="password" class="form-control-plaintext border rounded" id="password" />
        </div>
        <div class="col-sm-2 col-form-label mt-2">
            <label for="profilePic">Profile Picture</label>
            <input type="file" id="avatar" name="avatar">
        </div>
        <div class="d-grid rounded-pill mt-4">
            <button type="submit" class="btn btn-dark" style="width: 50%;">Submit</button>
          </div>
    </form>
</div>

