<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/"> 
<div>
    <form action="<%= action %>" method="post" enctype="multipart/form-data">
        <div>
            <input type="text" id="firstName" name="firstName" placeholder="First Name">
        </div>
        <div>
            <input type="text" name="lastName" id="lastName" placeholder="Last Name">
        </div>
        <div>
            <input type="email" id="email" name="email" placeholder="Email">
        </div>
        <div>
            <input type="password" id="password" name="password" placeholder="Password">
        </div>
        <div>
            <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Phone number">
        </div>
        <div>
            <input type="file" name="avatar" id="avatar" placeholder="Upload Avatar">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
<script src="/js/"></script>