<% layout('layouts/boilerplate') %>

<!-- Blogs -->

<div class="products container-fluid">
    <% contributions.forEach(contribution => { %>
        <div class="card">
            <% if(contribution.banner?.path){ %>
                <img src="<%= contribution.banner?.path || 'https://picsum.photos/200' %>" alt="">
            <% } %>  
            <div class="mx-4 mt-3 mb-3">
                <p class="text-primary"><%= contribution.category?.title || "All" %></p>
                <p class="card-title fw-bold fs-5"><%= contribution.title %></p>
                <p class="description" style="font-size: 0.8rem;"><%= contribution.content %></p>
                <div class="d-flex blog-author">
                    <img src="https://picsum.photos/100" alt="">
                    <p class="description" style="font-size: 0.8rem;">Ruthfoot Motion</p>
                </div>
            </div>
        </div>
    <% }) %>  
</div>