<% layout('layouts/boilerplate') %>
<div>
    <%= categories %> 
</div>
<div>
    <form action="/contribution/create" method="post" enctype="multipart/form-data">
        <input type="text" name="title" id="title" placeholder="Title">
        <input type="text" name="content" id="content" placeholder="Content">

        <% if(categories.length > 0) { %> 
            <select name="category" id="category">
                <% categories.forEach(category => { %> 
                <option value="<%= category._id %>">
                    <%= category.title %> 
                </option>
                <% }) %> 
            </select>
        <% } %>
        <input type="text" name="banner" id="banner" placeholder="banner image url">
        <input type="file" name="files" id="files">
        <button type="submit">Make Contribution</button>
    </form>
</div>