<% layout('layouts/boilerplate') %>
<div>
    <form action="/contribution/create" method="post" enctype="multipart/form-data">
        <input type="text" name="title" id="title" placeholder="Title">
        <input type="text" name="content" id="content" placeholder="Content">
        <select name="category" id="category">
            <option value="science">Science</option>
            <option value="tech">Tech</option>
            <option value="art">Art</option>
        </select>
        <input type="file" name="banner" id="banner">
        <button type="submit">Make Contribution</button>
    </form>
</div>